html,body{height:100%; font-family:Arial;}
body{background:#FFF;padding:0;margin:0;}
#container{
padding:16px;
}


#sidebar{
	float:left;
	width:18em;
	border:1px solid #d9e8fb;
	padding:1px;
	height:100%;
}
.treeNode{margin:3px 0;padding:1px 5px;}
.treeNode:hover{
	background:#DFE8F6;
}
.childNode{
	padding-left:0.5em;
}
#header{
	clear:both;
	background:#15428b;
	padding:5px;
	color:#eee;
}
#header a{
	color:#eee;
}
#header h1{
	color:#eee;
    margin:0;
    padding:5px;
}
#header .sub{font-size:0.618em}
#panel{
	clear:both;
	height:100%;
}
#mainPanel{
    padding:0.5em;
}
.box{
    float:left;
    padding:20px;
    margin:20px;
}
.button{
    font-size:14px;
    padding:5px 10px 6px 7px;
    margin:10px auto;
    line-height:28px;
    border:1px solid #dedede;
    color:#15428b;
    cursor:pointer;
    background:#f5f5f5;
    text-decoration:none;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
}

.button:hover{
    background:#d9e8fb;
}


