.info{
    clear:both;
    color:#888;
    margin:0 0 20px 0;
}

#title{
    margin:20px 0 8px 0;
}
#hr{
    color:#eee;width:61.8%;float:left;
}
#relativeArticle{
    font-size:0.8em;
}
#search{
    font-size:small;
}
#pn{
    margin:0.618em 0;font-size:0.8em;clear:both;
}
#previous{
    float:left;width:50%;
}
#next{
    float:left;width:50%
}
#content .backToIndex{
    text-indent:0;
}
#content_inner{
    padding-left:40px;
}

